@import url("https://fonts.googleapis.com/css?family=Boogaloo|Cabin+Sketch|Chewy|Fredericka+the+Great|Luckiest+Guy|Mali|Open+Sans|Poiret+One|Raleway&display=swap");

$boogaloo: 'Boogaloo', sans-serif;
$cabin-sketch: 'Cabin Sketch', sans-serif;
$chewy: 'Chewy', sans-serif;
$fredericka-the-great: 'Fredericka the Great', sans-serif;
$luckiest-guy: 'Luckiest Guy', sans-serif;
$mali: 'Mali';
$open-sans: 'Open Sans';
$poiret-one: 'Poiret One';
$raleway: 'Raleway';

$cinza: #595758;
$amarelo: #f3b85b;
$rosa: #ffeedB;
$branco: #fbfef9;
$dark: #292f36;